* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
  }
  html {
    background: #3ea2ef;
    color: rgb(255, 255, 255);
    background-image: url("./BackGround.jpg");
    background-repeat: no-repeat;
    background-position-y: -1240px;
  }
  body {
    background: #9dc9ea3a;
    border: 1px solid rgba(255, 255, 255, 0.167);
    padding: 3rem 7rem 7rem 7rem;
    margin: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.007);
  }
 
  @media (min-width: 1000px) {
    body {
      margin: 0;
    }
    html {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
  @media screen and (max-width: 1000px) and (min-width: 666px) {
    body {
      margin: 0;
    }
    html {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
  