.footer {
  display: flex;
  align-items: center;
}
.maxList {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.maxList:first-child {
  font-weight: bold;
}
.maxList:last-child {
  font-weight: lighter;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
.minList {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.minList:first-child {
  font-weight: bold;
}
.minList:last-child {
  font-weight: lighter;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
.vertical {
  border-left: 1px solid rgba(230, 230, 230, 0.317);
  height: 50px;
  margin: 0 auto;
}
